<table class="list-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of persons; let nr = index">
    <td>
      {{person.name}}
    </td>
    <td *ngIf="!person.age">
      Unknown
    </td>
    <td *ngIf="person.age" [ngStyle]="{'color': getAgeColor(person.age)}">
      {{person.age}}
    </td>
    <td>
      <button (click)="deletePerson(nr)">Remove</button>
    </td>
  </tr>
  </tbody>
</table>
