body {
  font-size: 12px;
  font-family: arial, sans-serif;
  background: azure;
  width: auto;
}

.list-table {
  margin: 0px;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.list-table th {
  font-weight: normal;
  padding: 0px 8px;
  border-bottom: 2px solid #000;
}

.list-table td {
  padding: 9px 8px 0px 8px;
}

